
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
    overflow-x: hidden;
}


.contenedor {
    width: 100%;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
}
.h2 {
    color: #797979;
    text-align: center;
}
.b{
    text-align: center;
    top: 20px;
    font-size: 1em;
    color: #07238a;
    display: inline;
}
.años{
    text-align: center;
    color: #797979;
    
    
}
.buscar {
    background-color: #f8305a;
    color: #fff;
    border: 2px solid #f8305a;
    padding: 17px 70px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    position: relative; 
    right: -170px; 
    white-space: inherit;
}
.buscar:hover {
    background-color: #df1843; 
}
.select {
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background: none; 
    border: none;
    border-bottom: 2px solid #333; 
    padding: 8px 5px;
    font-size: 1em;
    cursor: pointer;
    color: #000000;
    outline: none; 
    margin: 15px;
    position: relative;
    right: -150px;
}
select:hover {
    border-bottom-color: #0078ff;
}
.titulo {
    display: flex;
    align-items: center;
    
}
.admision-container {
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: #0047AB;
    
}
.year {
    font-family: 'Inter', sans-serif;
    font-size: 42px;
    font-weight: 300;
    color: #333;
    margin-left: 10px; 
    display: inline-block;
}
.icono-graduacion {
    position: absolute;
    top: 6px;  
    left: 76px;  
    font-size: 0.7em;  
    color: #0047AB; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.banner{
    width: 100%;
    height: 245px;
    position: relative;
    padding: 15px;
    display: flex;   
}
.banner1{
    flex: 1;
    padding: 20px;
    position: relative;
    left: 30px;
    top: 40px;
}

.contenido {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-left: -70px;
}
.subtitulo {
    font-family: 'Inter', sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    margin-top: 5px;
    position: relative;
}
.ubicacion {
    display: flex;
    align-items: center;
    gap: 20px;

}
.ubicacion i {
    font-size: 2.9em; 
    color: #b2b5b9;
    margin-top: 55px; 

}
strong{
    margin: 20px 0;
}
.nivel{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #333;
    margin-top: 30px; 
}
.calendario {
    color: #000000;
    display: flex;
    align-items: center;
    gap: 20px;
   
}
.calendario i {
    font-size: 2.5em; 
    color: #b2b5b9;
    margin-top: 15px; 
    
}

.text {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: #333;
    margin-top: 10px; 
}
.calendario-link{
    color: rgb(0, 0, 0);
    cursor: pointer;
}
.calendario-link:hover{
    color: #007bff;
}


.button-contenedor {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 380px;
    margin-top: -150px; 
    
}

.button {
    display: block;
    padding: 10px 30px;
    background-color: #0047AB;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    min-width: 310px;
    color: #b9b9b9;
    border: 2px solid #0a39e6;
    margin: 5px;  
}
.button-1 {
    background-color: none;
    border: 1px solid #0047AB;
    display: block;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    min-width: 200px;
    color: #0a39e6;
    border: 2px solid #0a39e6;
    margin: 5px;;
}
.imagen{
    position: absolute;
    left: 620px;
    top: 50%;
    transform: translate(-50%, -50%) skew(-15deg);
    height: 100%;
    width: auto;
    object-fit: cover;
    clip-path: polygon(40% 0, 90% 0, 60% 100%, 10% 100%);
}
.contenido1 {
    position: relative;
    top: 50px;
    font-family: Arial, sans-serif;
    background: none;
  }

  .titulo1 {
    text-align: center;
    margin-bottom: 40px;
    
  }

  .blue {
    color: #0a39e6;
    font-size: 32px;
    font-weight: bold;
  }
  .b2{
    text-align: center;
    font-size: 1em;
    color: #000000;
    display: inline;
}
.subtitulo1{
    color: #666;
    text-align: center;
    font-size: 18px;
    margin-bottom: 40px;
    top: -20px;
    position: relative;
  }

  .testimonio{
    display: flex;
    align-items: center;
    background: none;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    position: relative;
    left: 400px;
  }
   
  .estudiante1{
    height: 500px;
    width: 500px;
    border-radius: 10px;
    right: 200px;
    position: relative;
    background-image: url('https://www.senati.edu.pe/sites/default/files/styles/testimonio_home/public/senati-web-testimonio-greta-morales-516x479.jpg?itok=8vkKTnvp');
  background-size: cover;
  background-position: center;
  } 
  
  .estudiante{
    font-size: 1.7em;
    font-weight: bold;
    margin-bottom: 10px;
    font-family: 'Playfair Display', serif;
    top: -90px;
    position: relative;
    
  }
  .carrera {
    color: #0066cc;
    font-size: 16px;
    margin-bottom: 20px;
    top: -80px;
    position: relative;
  }


  .quote {
    color: #000000;
    display: flex;
    align-items: center;
    gap: 30px;
    top: -80px;
    position: relative;
    left: -70px;
   
}
.fa-quote-left  {
    font-size: 2.5em; 
    color: #b2b5b9;
    margin-top: 25px; 
    
}

  .navigation {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    color: #0066cc;
    cursor: pointer;
  }
  
  