@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap');
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
  }
    
  .contenedor{
    width: 100%;
    border-bottom: 1px solid #1f283e;
    background-color: black;
    z-index: 99;
    padding: 0 20px;
}
.contenedor header{
    max-width: 1100px;
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    color: #fff;
}
.txtRojo{
    color:#ff1133;
}
.nav a{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  padding: 5px;
  text-transform: uppercase;
}
.nav a:hover{
  color: yellow;
}
.M111{
    margin-top: 12px;
    color: gray;
    display: inline-block;
}
.M11 {
    display: inline-block;
    font-size: 15px;
    color: gray;
    text-decoration: none;
    position: relative;
    padding-bottom: 15px;
    border-top: 4px solid rgb(20,21,30);
    margin-right: -8px;
}

.M11:hover {
    color: rgb(216, 196, 19);
    border-top: 4px solid rgb(198, 201, 21);
}

.redes a{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 5px 8px;
  text-transform: uppercase;
}
.redes a:hover{
  color: yellow;
}
.producto1{
    width: 395px;
    height: 444px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 60px;
    left: 60px;
  }
  .producto {
    width: 415px;
    height: 494px;
    background: rgba(250,250,245,1);
    opacity: 1;
    position: absolute;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
   
  }
  .nombre{
    width: 162px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 320px;
    left: 24px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .precio {
    width: 92px;
    color: rgba(66,107,31,1);
    position: absolute;
    top: 350px;
    left: 24px;
    font-family: Inter;
    font-weight: Semi Bold;
    font-size: 20px;
    opacity: 1;
    text-align: left;
  }
  .infoP {
    width: 259px;
    color: rgba(109,109,109,1);
    position: absolute;
    top: 392px;
    left: 24px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 16px;
    opacity: 1;
    text-align: left;
  }
  .productoI{
    width: 295px;
    height: 256px;
    background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSDsNnTlWCJdJN8gk45_blgh35poWKv0zZo9Q&s");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    left: 50px;
  }
  
  